Django==6.0.7
django-cors-headers==4.9.0
django-jazzmin==3.0.5
djangorestframework==3.17.1
drf-spectacular==0.30.0
gunicorn==26.0.0
openpyxl==3.1.5
pillow==12.3.0
psycopg[binary]>=3.2
python-dotenv==1.2.2
razorpay==2.0.1
reportlab==5.0.0
tzdata==2026.3
whitenoise==6.12.0
