{% with modal_id=modal_id|default:'appModal' %}
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered {% if modal_size %}modal-{{ modal_size }}{% endif %}">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ modal_id }}Label">
                    {% if modal_icon %}<i class="bi {{ modal_icon }} me-2"></i>{% endif %}{{ modal_title|default:'Confirm' }}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">{{ modal_body|default:'Are you sure?' }}</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ modal_cancel_label|default:'Cancel' }}</button>
                {% if confirm_url %}
                    <a href="{{ confirm_url }}" class="btn {% if modal_danger %}btn-danger{% else %}btn-gradient{% endif %} btn-ripple">
                        <span>{{ confirm_label|default:'Confirm' }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endwith %}
